* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, sans-serif;
}

p{
    color: gray;
}

nav {
    background-color: #232a31;
    width: 100%;
    height: 75px;
}

.navbar-container img {
    height: 50px;
    width: auto;
    margin: 10px 0 0 30px;
}

.navbar-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    list-style: none;
    margin-top: -35px;
    margin-right: 30px;

}

.navbar-container ul li {
    margin: 0 20px;
}

.navbar-container ul li a {
    text-decoration: none;
    color: white;
}

.navbar-container ul .entrar a{
    background-color: #2cc76a;
    padding: 15px 20px;
    border-radius: 5px;

    transition: 0.5s;
}

.banner-principal{
    background-image: url(../img/mainbanner.png);
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 450px;
}

.banner-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-principal h1, .banner-principal p {
    color: white;
    text-shadow: #000 3px 2px 3px;
    font-weight: bold;
    text-align: center;
}

.banner-principal h1{
    font-size: 60px;
}

.banner-principal p{
    font-size: 35px;
}

.service-container{
    padding: 80px 0;
    display: flex;

    text-align: center;
    list-style: none;
}
.service-container p{
    font-size: 17px;
}
.service-container h3{
    color: black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fas{
    font-size: 60px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: #ef3f29;
}

.fa-comments{
    color: #ef8f29;
}

.service-container li{
    padding: 0 70px;
}

.plano-preco h2{
    font-size: 38px;
}

.plano-preco p{
    font-size: 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.planos ul{
    display: inline-block;
    justify-content: space-evenly;
    vertical-align: top;
    width: 20%;
    margin-right: 2%;
    
    list-style: none;
}


.planos ul:last-child{
   margin-right: 0;
}
 
/* prices and plans */
.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
  }
  
  .pricing-container h2 {
    font-size: 36px;
  }
  
  .pricing-container p {
    font-size: 20px;
  }
  
  .plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
  }
  
  .plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
  }
  
  .plan ul {
    padding: 0;
  }
  
  .plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
  }
  
  .plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
  }

  .plan .nome-plano{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;

    display: flex;
    justify-content: center;
  }
  
  .plan .plano-btn{
    background-color: #18c956;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;

    transition: 0.5s;
  }
  
  .plan .recommended{
    background-color: #ff0800;

    transition: 0.5s;
  }
  
.dominio{
    width: 100%;
    height: 400px;
    background-color: #34454e;


}
.dominio .conteudo-dominio{
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo-dominio h2{
    margin-top: 80px;
    font-size: 35px;
}

.conteudo-dominio p{
    margin-top:15px;
    font-size: 25px;
    color: #d5d5d5;
}

.conteudo-dominio input{
    margin-top: 30px;
    width: 550px;
    height: 60px;

    font-size: 20px;

    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.conteudo-dominio button{
    width: 250px;
    height: 60px;

    background-color: #2cc762;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.dominio form{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dominio button{
    font-size: 20px;
    margin-top: 20px;

    border-radius: 10px;
    border: none;

    width: 250px;
    height: 50px;

    background-color: #2cc762;
    color: white;

    transition: 0.5s;
}

.dominio button:hover, .navbar-container ul .entrar a:hover{
    background-color: transparent;
    border: 1px solid #2cc762;
}

.plan .plano-btn:hover{
    background-color: transparent;
    border: 1px solid #18c956;
    border-radius: 5px;
    color: black;
}

.plan .recommended:hover{
    background-color: transparent;
    border: 1px solid #ef3f29;
    border-radius: 5px;
    color: black;
}